<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <a href="main.html"><img src="img/footer_logo.png" alt="agrotrade"></a>
            <ul class="footer-mnu1 mnu">
                <li>
                    <a href="main.html">головна</a>
                </li>
                <li>
                    <a href="products.html">продукція</a>
                </li>
                <li>
                    <a href="contacts.html">контакти</a>
                </li>

            </ul>
            <ul class="footer-mnu2 mnu">
                <li>
                    <a href="news.html">новини</a>
                </li>
                <li>
                    <a href="leisure.html">наше дозвілля</a>
                </li>
            </ul>
            <div class="contacts">
                <p>м. Черкаси вул.Чехова, 43 ( 2й поверх )</p>
                <a href="mailto:agrotreid-2020@ukr.net">e-mail: agrotreid-2020@ukr.net</a>
                <div class="mob">
                    <a href="tel:+380976820287">тел.: +380976820287</a>
                    <a href="tel:+380504642022">+380504642022</a>
                </div>
                <div class="obj">
                    <a href="#" class="btn_all footer-btn">Зворотній зв'язок</a>
                </div>
            </div>
        </div>
    </div>
</footer>