<section class="section_form">
    <div class="container container-flex">
        <div class="wrap-form-label">
            <h4>Зворотній звязок</h4>
        </div>
        <form class="form-group" action="#" method="get" id="feedback" data-request-validate>
            <div class="form-holder name">
                <input type="text" name="name" form="feedback" placeholder="І'мя:" data-validate="name">
            </div>
            <div class="form-holder email">
                <input type="text" name="email" form="feedback" placeholder="E-mail:" data-validate="email">
            </div>
            <div class="form-holder email">
                <textarea type="textarea" rows="7" form="feedback" name="comment" placeholder="Коментар:"></textarea>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox1" />
                <label for="checkbox1">Я хочу замовити прайс з розділу добриво</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox2" />
                <label for="checkbox2">Я хочу замовити прайс з розділу паливо</label>
            </div>
            <div class="wrap-btn-checkbox">
                <div type="submit" class="btn_all submit">Відправити</div>
            </div>
        </form>
        <div class="img-contact">
            <img class="img-responsive" src="img/img-contact.png" alt="">
        </div>
    </div>
</section>