<header class="header">
    <a href="main.html"><img src="img/top_logo.png" alt="agrotrade" class="logo"></a>
	<div class="container container-flex">
        <nav class="site-nav">
            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>
            <ul class="open desktop">
                <li class="logo-center"><a href="#"><img src="img/top_logo.png" alt="agrotrade" class="logo logo_mnu"></a></li>
                <li><a href="main.html">головна</a></li>
                <li><a href="products.html">продукція</a></li>
                <li><a href="contacts.html">контакти</a></li>
                <li><a href="news.html">новини</a></li>
                <li><a href="leisure.html">наше дозвілля</a></li>
            </ul>
            <div class="shadow disabled"></div>
        </nav>
		<nav id="nav1" class="header__mnu">
			<ul class="list-inline fluid-font-size2">
                <li>
                    <a href="main.html">головна</a>
                </li>
				<li>
                    <a href="products.html">продукція</a>
                </li>
				<li>
                    <a href="contacts.html">контакти</a>
                </li>
				<li>
                    <a href="news.html">новини</a>
                </li>
				<li>
                    <a href="leisure.html">наше дозвілля</a>
                </li>
			</ul>
		</nav>

        <a href="#" class="header_btn1 btn_all">Завантажити прайс</a>
        <a href="#" class="header_btn2 btn_all">Зворотній зв'язок</a>
        <div id="dropdown-menu" class="header__lang dropdown-menu">
            <div class="navbar">
                <div class="dropdown">
                    <div class="dropbtn">ukr
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">ukr</a>
                        <a href="#">eng</a>
                        <a href="#">ru</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</header>