@import "vars"
@media (max-width: 1600px)
  .section_slider
    .products-carousel
      width: 825px
    .box
      .products-mnu
        li
          padding-left: 15.5vw
          text-align: left
@media (max-width: 1500px)
  .section_slider
    .products-carousel
      width: 790px
    .box
      .products-mnu
        li
          padding-left: 12.5vw
@media (max-width: 1400px)
  .section_slider
    .products-carousel
      width: 785px
    .box
      .products-mnu
        li
          padding-left: 9.5vw
@media (max-width: 1480px)
  .header
    .logo
      left: 25px
    .container-flex
      justify-content: center
  .section_5-text
    .wrap
      .section_5-btn
        position: relative
@media (max-width: 1350px)
  .btn_all
    font-size: 13px
  .section_slider
    .products-carousel
      width: 765px
  .header
    .container-flex
      padding: 0 125px
      width: auto
      max-width: none
    .header_btn1
      margin-right: 12px
  .section_4
    .section_4-flex
      .row_text-left
        left: -183px
@media (max-width: 1311px)
  .section_3
    &-image
      width: 50%
    p
      font-size: 13px
  .section_4
    padding-top: 150px
    .section_4-flex
      .box_row
        margin-bottom: 150px
      .row_text-left
        transform: rotate(0)
        top: 0
      .row_text-left
        left: 50%
        margin: -95px 0 0 -150px

@media (max-width: 1270px)
  .products-slider
    .products-carousel
      width: 735px
      .item
        width: 233px
        height: auto
@media (max-width: 1199px)
  .header
    .container-flex
      justify-content: center
    .site-nav
      order: 3
    nav
      margin: 0
      padding: 0
      z-index: 9999
      ul
        list-style-type: none
        padding: 0
        margin: 0
        display: none
        &.opening
          display: block
          height: 30px
      li
        border-bottom: 1px solid $accent
        &:last-child
          border-bottom: none
      a
        color: #EBEBD3
        background: #151c39
        display: block
        padding: 1.5em 4em 1.5em 3em
        text-transform: uppercase
        text-decoration: none
        &:hover, &:focus
          background: $accent
    .site-nav
      display: block
      .shadow-enabled
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.85)
        transition: box-shadow .3s ease
      .logo_mnu
        position: relative
        left: 0
        top: 0
        right: 0
        bottom: 0
      .opening
        position: absolute
        left: 0
        top: -23px
        width: 100%
        li
          &:first-child
            a
              background-color: #151c39
              padding: 20px 0
    .site-nav--icon
      font-size: 1.4em
      margin-right: 1em
      width: 1.1em
      text-align: right
      color: rgba(255, 255, 255, 0.4)
    .menu-toggle
      cursor: pointer
      &.open
        position: absolute
        z-index: 9999
        top: -10px
        right: 0
        padding: 10px
    .hamburger
      content: ''
      display: block
      background: #EBEBD3
      height: 3px
      width: 2em
      border-radius: 3px
      -webkit-transition: all ease-in-out 350ms
      transition: all ease-in-out 350ms
      &::before, &::after
        content: ''
        display: block
        background: #EBEBD3
        height: 3px
        width: 2em
        border-radius: 3px
        -webkit-transition: all ease-in-out 350ms
        transition: all ease-in-out 350ms
      &::before
        -webkit-transform: translateY(-7px)
        transform: translateY(-7px)
      &::after
        -webkit-transform: translateY(4px)
        transform: translateY(4px)

    .open .hamburger
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
      &::before
        display: none
      &::after
        -webkit-transform: translateY(-1px) rotate(-90deg)
        transform: translateY(-1px) rotate(-90deg)
      .menu-toggle
        display: none
      nav
        ul
          display: flex
          flex-direction: row
          justify-content: flex-end
        li
          flex: 1 1 auto
          border: none
          a
            padding: 1.5em 1.3em 1.5em 1.3em
            margin: 0
            border: none
            background-color: #f04343
        a
          &:hover, &:focus
            background-color: rgba(255, 255, 255, 0.1)
      .logo
        flex: 0 0 200px
        margin: 0
        padding-left: 20px
      nav
        display: flex
        flex-direction: row
        justify-content: space-between
        text-align: center
        background-color: #f04343
    .header__mnu
      display: none
  .section_1
    .top-text_logo
      display: none
    .top__logo
      .fancy_title
        display: none
      .img__logo
        display: block
        margin: 0 auto
  .section_3
    p
      font-size: 12px
  .section_products
    .wrap-text
      margin-bottom: 29px
      h3
        font-size: 36px
        text-align: center
        &:after
          bottom: -2px
    .container-flex
      flex-direction: column
  .section_products
    .block-text
      padding: 20px
  .section_slider
    .box
      flex-direction: column
      .products-mnu
        width: 100%
        flex-direction: row
        margin: 0
        flex-wrap: wrap
        li
          line-height: 3
          padding-left: 0
          text-align: center
          min-width: 100px
          &:before
            display: none
          a
            font-size: 18px
  .section_5
    padding: 29px 20px
    .wrap_rmr
      .btn_rmr
        margin: 0
    .wrap-text
      margin-bottom: 20px
      h3
        font-size: 36px
    .section_5-row, .reverse
      flex-direction: column-reverse
      padding: 0
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
      .section_5-text
        width: 100%
        .wrap
          max-width: 100%
          padding: 0
          .section_5-btn
            margin-top: 0
      .section_5-image
        margin-bottom: 20px
        width: 100%
  .products-slider
    margin: 0
    width: 100%
    .products-carousel
      width: 100%
      margin-left: 0
    li
      padding: 100px 50px 0 50px
  .section_form
    padding: 100px 20px
    .form-group
      .checkbox
        input+label
          &:hover
            color: #fefefe

  .footer
    padding: 29px 20px
  .section_item-product
    .wrap-text
      text-align: center
    .item-products-flex
      .wrap-text-product
        padding: 0 20px
        p
          font-size: 14px

    .wrap-list-product
      padding: 0 20px
      font-size: 14px
  .section_news
    padding: 29px 20px
    .wrap-text
      margin-bottom: 29px
    .row-news
      flex-wrap: wrap
      flex-direction: column-reverse
      margin-bottom: 35px
      .news-btn
        margin-top: 0
      .news-text
        padding: 0
        max-width: 100%
        .h4
          margin-bottom: 20px
      .news-img
        width: 100%
        margin-bottom: 20px
        img
          height: auto
          width: 100%
    .news-pagination
      .pagination
        margin: 0
        li
          a
            font-size: 20px
        .pagination-next, .pagination-prev
          a
            img
              width: 35px
              height: 35px
              padding: 6px 9px 6px 9px
  .section_one-article
    padding: 29px 20px
    p
      font-size: 14px
    .wrap-text
      margin-bottom: 20px
      .h3
        font-size: 36px
    .wrap-h3-article
      margin: 30px 0 20px 0
      .h3-yellow
        font-size: 30px
    .wrap-h2
      .h2
        font-size: 30px
    .block-list
      flex-direction: column
      margin: 20px 0 20px 0
      img
        margin-bottom: 20px
      .left-list
        padding: 0
  .section_leisure
    padding: 29px 20px
    .wrap-text
      margin-bottom: 29px
      .h3
        font-size: 36px

  .section_contacts
    .contacts-head
      padding: 29px 20px
      .wrap-text
        margin-bottom: 29px
        .h3
          font-size: 36px
          &:before
            right: -2px
          &:after
            left: -2px
    .contacts-box_tab
      padding: 29px 20px
      .contacts-box_flex
        flex-direction: column
        .contacts-city
          text-align: center
          margin-top: 20px
        .box
          padding: 0
        .left-tabs
          width: 100%
          .contacts-wrap_btn
            .contacts-btn
              margin: 0
          .wrap-text
            margin-bottom: 29px
            .h3
              font-size: 36px
              max-width: 240px
          .contacts-tabs
            display: flex
            flex-direction: row
            justify-content: center
            margin: 0 0 29px 0
            flex-wrap: wrap

            li
              margin-right: 10px
              margin-bottom: 0
              line-height: 2
              width: 160px
              text-align: left
  .contacts-box_form
    padding: 29px 20px
    .wrap-text
      margin-bottom: 29px
      .h3
        font-size: 36px
    .form-group
      padding: 0
@media (max-width: 1024px)
  .section_2
    &-items
      flex-wrap: wrap
      align-items: baseline
      justify-content: center
      .items
        width: 35%
      .item_1, .item_2
        margin-bottom: 10px
  .section_3
    flex-direction: column-reverse
    padding-bottom: 20px
    &-text
      width: 50%
      p
        padding: 0
        font-size: 14px
    &-image
      margin-bottom: 20px

  .section_4
    padding: 100px 0 29px 0
    .section_4-flex
      padding: 0 30px

@media (max-width: 991px)
  .section_2
    padding: 20px 20px
    .wrap-text
      margin-bottom: 20px
      h3
        font-size: 36px
    &-items
      .items
        p
          font-size: 16px
  .section_4
    padding: 100px 0 0 0
    .section_4-flex
      padding: 0 20px
      .box_row
        margin-bottom: 20px
        .row_text-left
          margin: -80px 0 0 -105px
          font-size: 36px
        .item
          &:last-child
            margin-right: 0
          h3
            font-size: 35px
          p
            font-size: 16px

  .section_7
    padding: 29px 20px
    .wrap-text
      margin-bottom: 10px
      h3
        font-size: 36px
    .section_7-item
      margin-right: 10px
      &:last-child
        margin-right: 0
      img
        width: 100%
        height: 200px

  .section_leisure
    .row-flex-items
      margin-right: 10px
      &:last-child
        margin-right: 0
      img
        width: 100%
        height: 200px
  .wrap_rmr
    margin-bottom: 10px

  .footer
    padding: 29px 20px
    &-flex
      flex-wrap: wrap
      justify-content: space-around
    .contacts
      margin-top: 20px
    .mnu
      li
        margin-bottom: 5px
  .section_news
    .wrap-text
      .h3
        font-size: 36px
@media (max-width: 821px)
  .section_4
    .section_4-flex
      padding: 0 20px
      .box_row
        flex-direction: row
        .item
          padding: 40px
          &:last-child
            margin-right: 0
          h3
            font-size: 26px
          p
            font-size: 16px
  .section_item-product
    padding: 22px 20px
    .wrap-text
      margin-bottom: 27px
      .h3
        span
          padding: 10px 9px 10px 9px
          font-size: 36px
        &:before
          top: 4px
    .item-products-flex
      .wrap-text-product
        padding: 0
        p
          width: 100%
          img
            width: 100%
            padding: 0
            margin-bottom: 20px
  .section_contacts
    .contacts-box_tab
      .contacts-box_flex
        .box-content
          .box-content_item
            margin: 0 13px 20px
            .contacts-descr
              p
                margin: 0 5px
              .contacts-position
                font-size: 14px
              .contacts-text_all
                font-size: 14px
  .contacts-box_form
    .wrap-btn-checkbox
      text-align: center
    .form-group
      .checkbox
        input+label
          font-size: 14px
    .container-flex
      flex-direction: column
      .contacts-maps
        width: 100%
        padding: 0
        margin-bottom: 40px
        p
          font-size: 14px
        a
          font-size: 14px
        #map
          .gm-bundled-control
            right: 22px!important
      .form-all
        width: 100%
@media (max-width: 632px)
  .header
    .logo
      left: 20px
    .menu-toggle
      display: inline-block
    .container-flex
      flex-wrap: wrap
      justify-content: flex-end
      padding: 0 20px
    .site-nav
      line-height: 0
      order: 1
    .header_btn1, .header_btn2
      margin: 30px 5px 0 5px
      font-size: 11px
      width: calc(50% - 10px)
      order: 2
    .dropdown
      .dropbtn
        padding: 10px 10px 0 10px
    .header__lang
      width: 70%
      text-align: right
    .navbar
      display: inline-block
    .dropdown-content
      width: 50px
      min-width: 50px
      a
        padding: 10px
  .section_1
    height: 70vh
  .section_2
    &-items
      .items
        width: 50%
  .section_3
    padding: 0 20px
    &-image
      width: 100%
    &-text
      width: 100%
      margin-bottom: 20px
  .section_4
    .section_4-flex
      padding: 0 20px
      .box_row
        flex-direction: column
        .item
          padding: 40px
          width: 100%
          margin-bottom: 20px
          background-position: top center
          -webkit-background-size: cover
          background-size: cover
          &:last-child
            margin-bottom: 0
          h3
            font-size: 26px
          p
            font-size: 16px
  .section_5
    .reverse, .section_5-row
      margin-bottom: 40px
    .section_5-row
      &:last-child
        margin-bottom: 0

  .section_7
    .section_7-flex
      flex-direction: column
      .section_7-item
        width: 100%
        img
          height: 250px
  .section_leisure
    .row-flex-items
      flex-direction: column
      .item
        width: 100%
        img
          height: 250px
  .footer
    .footer-flex
      padding: 0 20px
      img
        width: 349px
        height: 137px
        margin-bottom: 20px
      .mnu
        li
          line-height: 1
  .section_slider
    .box
      .products-mnu
        li
          a
            font-size: 13px
  .products-slider
    li
      padding: 29px 20px 0 20px
      .description-text
        font-size: 14px
  .products-slider
    .products-carousel
      .item
        .more-detail
          display: block
      .owl-carousel
        .owl-nav
          align-self: center
  .owl-carousel
    .owl-stage
      text-align: center
  .section_products
    padding: 29px 20px
    .wrap-text
      margin-bottom: 20px
    .block-text
      padding: 0
      p
        font-size: 14px
    .h3
      span
        padding: 10px 9px 10px 9px
  .section_form
    padding: 100px 20px 29px 20px
    .form-group
      .form-holder
        margin-bottom: 15px
      .checkbox
        input+label
          font-size: 13px
    .wrap-form-label
      order: 1
      margin-bottom: 10px
    .container
      flex-direction: column-reverse
      .form-group
        width: 100%
        padding-right: 0
      .img-contact
        width: 100%
        margin-bottom: 20px

  .section_one-article
    padding: 29px 20px
    p
      font-size: 14px
    .wrap-text
      margin-bottom: 20px
      .h3
        font-size: 36px
    .wrap-h3-article
      margin: 30px 0 20px 0
      .h3-yellow
        font-size: 25px
    .wrap-h2
      padding: 0
      .h2
        font-size: 25px
    .block-list
      flex-direction: column
      margin: 20px 0 20px 0
      img
        margin-bottom: 20px
      .left-list
        padding: 0
        .h4-yellow
          font-size: 20px
          line-height: 1.6
  .section_leisure
    .row-flex-items
      margin-right: 0
  .section_contacts
    .contacts-head
      .top-text_contacts
        padding: 0
@media (max-width: 604px)
  .footer
    .footer-flex
      img
        width: 100%
        padding: 0 10vw
@media (max-width: 505px)
  .section_products
    .wrap-text
      width: 310px
  .footer
    .footer-flex
      .obj
        width: 100%
        text-align: center
  .section_contacts
    .contacts-box_tab
      .contacts-box_flex
        .box-content
          .box-content_item
            width: 100%
@media (max-width: 491px)
  .products-carousel
    .owl-carousel
      .owl-drag
        .owl-item
          text-align: center!important
  .section_4
    .section_4-flex
      .box_row
        .item
          h3
            font-size: 22px
          p
            font-size: 15px
  .section_5
    .section_5-text
      .h4
        font-size: 18px
      p
        font-size: 15px
  .section_2
    .section_2-items
      .items
          p
            font-size: 13px
  .section_7
    .section_7-item
      p
        font-size: 15px
        margin-bottom: 10px

  .section_slider
    .box
      .products-mnu
        li
          a
            font-size: 13px
  .section_news
    .row-news
      .news-text
        font-size: 15px
        .h4
          font-size: 18px
@media (max-width: 389px)

  .section_contacts
    .contacts-box_tab
      .contacts-box_flex
        .left-tabs
          .contacts-tabs
            li
              width: 123px
              a
                font-size: 14px
    .contacts-head
      .wrap-text
        .h3
          font-size: 26px
  .footer
    .footer-flex
      img
        padding: 0
@media (max-width: 320px)
  .section_2
    .section_2-items
      flex-direction: column
      .items
        width: 100%
        p
          font-size: 14px
  .section_4
    .section_4-flex
      .box_row
        .item
          h3
            font-size: 20px
  .footer
    .footer-flex
      img
        width: 100%