@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
  box-sizing: border-box






body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  background-color: #151c39
  overflow-x: hidden
  color: $text
  margin: 0
  input, textarea
  	border: #666 1px solid
  	outline: none
  	&:focus:required:invalid
  		border-color: red
  	&:required:valid
  		border-color: green
p
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

ul
  padding: 0

  li
    list-style: none

    a
      text-decoration: none
      color: $text
      &:hover
        color: $text
        text-decoration: none
      &:active
        color: $text
        text-decoration: none

  &.list-inline
    & > li
      display: inline-block

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 30px
h3, h4, h5, h6
  font-family: "RobotoLight"

hr
  border: 0
  display: block
  border-top: 1px solid $accent
  height: 1px
  margin-top: 1rem
  margin-bottom: 1rem
  clear: both

label
  border-radius: 0

button, input, select, textarea, a
  font: $default-font
  font-size: 1rem

  &:focus,
  &:active
    outline: none

input,
textarea
  outline: none
  font: $default-font
  color: $accent
  font-size: 1rem
  border-radius: 0

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
    background: inherit
    //-webkit-text-fill-color: #fff
    //-webkit-box-shadow: 0 0 0px 1000px #000 inset
    transition: background-color 5000s ease-in-out 0s

  &::placeholder
    font: $default-font
    font-size: 1rem

textarea
  resize: none
input
  appearance: none

input[type='number']
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
  -moz-appearance: textfield

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.container
  margin: 0 auto
  width: 100%
  max-width: 1134px
  position: relative

.text-center
	text-align: center

b, .strong
	font-weight: bold

.header, .section_1
  .fluid-font-size
    +fluidFontSize(22px, 70px, 450px, 1280px, 18px)
  .fluid-font-size2
    +fluidFontSize(13px, 14px, 450px, 1280px, 14px)
//    H3
.wrap-text
  text-align: center
  margin-bottom: 82px
  .h3
    font-size: 50px
    text-transform: uppercase
    text-align: center
    position: relative
    margin: 0
    z-index: 2
    display: inline-block
    background-color: #151c39
    font-family: "roboto-example", bold
    letter-spacing: 7px
    max-width: 407px
    &:before
      content: ''
      width: 50px
      height: 50px
      background-color: $accent
      position: absolute
      top: -2px
      right: -2px
      z-index: -1
    &:after
      content: ''
      width: 50px
      height: 50px
      background-color: $accent
      position: absolute
      bottom: -2px
      left: -2px
      z-index: -1
    span
      background-color: #151c39
      display: inherit
      padding: 0 15px 0 19px

.row-flex-items
  display: flex
  flex-direction: row
  justify-content: space-between
  .item
    width: 33%
    margin-right: 20px
    &:last-child
      margin-right: 0
    h5
      font-size: 18px
      text-transform: uppercase
      letter-spacing: 0.9px
      font-family: "roboto-example", bold
      margin-bottom: 10px
    p
      margin: 0 0 30px 0
    img
      width: 100%
      height: 300px
      object-fit: cover
      margin-bottom: 20px
    .btn-relative
      position: relative
      top: 0
      right: 0


  .detail
    top: 120px
    right: 15px

//LANG MNU
.navbar
  overflow: hidden
  cursor: pointer
  a
    float: left
    font-size: 16px
    color: white
    text-align: center
    padding: 14px 16px
    text-decoration: none
.header__lang
  position: relative
    z-index: 9999
.dropdown
  overflow: hidden
  z-index: 5000
  text-transform: uppercase
  .dropbtn
    font-size: 16px
    border: none
    outline: none
    color: white
    padding: 14px 16px
    background-color: transparent
    font-family: inherit
    margin: 0
    i
      font-family: "Font Awesome 5 Free"
      &:before
        font-family: "Font Awesome 5 Free"

.dropbtn
  background-color: red

.dropdown-content
  //display: none
  position: absolute
  background-color: $accent
  z-index: 9999
  min-width: 100%
  opacity: 0
  transition: opacity .2s ease-in-out
  a
    float: none
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block
    transition: all .5s ease
    text-align: center
    &:hover
      background-color: #303030
      color: #fff

.dropdown:hover .dropdown-content
  display: block
  opacity: 1
  transition: opacity .2s ease-in-out

.site-nav
  display: none
  .logo-center
    text-align: center

.btn_all
  background-color: transparent
  border: 2px solid $accent
  color: $accent
  font-size: 14px
  display: inline-block
  vertical-align: middle
  margin-right: 20px
  width: 150px
  text-decoration: none
  height: 35px
  text-align: center
  line-height: 30px
  cursor: pointer
  transition: all .5s ease
  position: relative
  z-index: 2
  &:hover
    background-color: $accent
    color: #000
    transition: all .5s ease
.wrap_rmr
  display: block
  width: 100%
  text-align: right
  margin-bottom: 23px
  .btn_rmr
    position: relative
    color: $text
    text-decoration: none
    border-bottom: 1px solid $accent
    &:after
      content: ' >>>'
      margin-left: 5px
    &:hover
      color: $text
.detail
  position: absolute
  color: $text
  text-decoration: none
  top: 150px
  right: 50px
  &:after
    content: ' >>>'
    margin-left: 5px
  &:hover
    border-bottom: 1px solid $accent
    color: $text

.container-flex
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center



.header
  background-color: #303030
  padding: 25px 0
  position: relative
  &__mnu
    display: inline-block
    margin-right: 25px
  .list-inline
    text-transform: uppercase
    li
      margin-right: 15px
      vertical-align: middle
      &:last-child
        margin-right: 0
      a
        color: $mnu-text
        &:hover
          border-bottom: 1px solid $accent
        &:active
          border-bottom: 1px solid $accent
  .header_btn2
    margin-right: 0

  &__lang
    display: inline-block
    position: relative
    select
      padding: 0 20px 0 7px
      border: 0
      appearance: none
      -webkit-appearance: none
      -moz-appearance: none
      color: #fff
      text-transform: uppercase
      cursor: pointer
      background-color: #303030
      outline: none
      border: none

      &::-ms-expand
        display: none
    .select-arrow-3
      position: absolute
      border: 6px solid transparent
      border-bottom: 0
      right: 0
      &:nth-child(1)
        top: 11px
        border-top-color: #FFFFFF
      &:nth-child(2)
        top: 10px
        border-top-color: #FFF
  .logo
    width: 95px
    height: 70px
    object-fit: cover
    position: absolute
    left: 71px
    top: 16px
    z-index: 5000
.section_1
  position: relative
  background: url(../img/top_bg.jpg) no-repeat
  -webkit-background-size: cover
  background-size: cover
  background-position: center center
  height: 100vh
  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.4)
    z-index: 1
  .top-text_logo
    width: 572px
    margin: 0 auto
    margin-top: 120px
  .top__logo
    z-index: 2
    position: relative
    padding: 150px 20px 0 20px
    .fancy_title
      color: $accent
      font-size: 75px
      text-transform: uppercase
      font-family: "Playfair-Regular"
      letter-spacing: 7.5px
      position: absolute
      top: 25px
      right: 50%
      left: 50%
    .img__logo
      display: none
.section_2
  padding: 96px 0 96px 0
  &-items
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: baseline
    .items
      width: 25%
      text-align: center
      padding: 0 5px
      img
        width: 100px
      p
        overflow: hidden
        display: inline-block
        font-size: 18px

.section_3
  display: flex
  flex-direction: row
  position: relative
  background-image: linear-gradient(to top, #3f2700 0%, #496a6f 36%, #416575 56%, #25426e 77%, #142d63 100%)
  align-items: center
  &-text
    width: 55%
    display: flex
    flex-direction: row
    justify-content: flex-end
    p
      max-width: 703px
      display: inline-block
      padding: 0 40px
      overflow: hidden
      margin: 0
      letter-spacing: 1.6px
  &-image
    width: 45%
    height: 100%
    img
      object-fit: cover
      width: 100%
      vertical-align: middle

.section_4
  padding: 96px 0
  .section_4-flex
    display: flex
    flex-direction: column
    justify-content: center
    .box_row
      display: flex
      flex-direction: row
      justify-content: center
      position: relative
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
      .item
        padding: 99px 53px
        -webkit-background-size: cover
        background-size: cover
        background-position: inherit
        margin-right: 30px
        position: relative
        width: 50%
        box-shadow: 9px 10px 32px -9px rgba(0,0,0,0.75)
        &:last-child
          margin-right: 30px
        &:before
          content: ''
          position: absolute
          top: 0
          right: 0
          width: 100%
          height: 100%
          background-color: black
          opacity: .7
          z-index: 1
        h3
          color: #fefefe
          font-size: 44px
          font-weight: 700
          position: relative
          z-index: 2
          width: 100%
          overflow: hidden
          line-height: 1.3
          word-wrap: break-word
          font-family: "roboto-example", bold
        p
          font-size: 18px
          color: #fefefe
          z-index: 2
          position: relative
      .item
        &:nth-child(odd)
          &:before
            opacity: .3
      .item
        &:nth-child(even)
          &:before
            opacity: .3
    .row_text-left
      left: -220px
      transform: rotate(270deg)
    .row_text-left
      margin-top: -50px
      position: absolute
      top: 50%
      z-index: 2
      font-size: 45px
      text-transform: uppercase
      &:before
        content: ''
        width: 50px
        height: 50px
        background-color: $accent
        position: absolute
        top: -2px
        right: -2px
        z-index: -1
      &:after
        content: ''
        width: 50px
        height: 50px
        background-color: $accent
        position: absolute
        bottom: -2px
        left: -2px
        z-index: -1
      span
        background-color: #151c39
        display: inherit
        padding: 0 15px 0 19px
.section_5
  padding: 48px 0
  position: relative
  .wrap_rmr
    a
      margin-right: 50px
  &-row
    display: flex
    flex-direction: row
    position: relative
    align-items: normal
    margin-bottom: 100px
    &:last-child
      margin-bottom: 0
  &-text
    width: 49%
    display: flex
    flex-direction: row
    justify-content: flex-end
    .wrap
      max-width: 545px
      display: inline-block
      overflow: hidden
      padding: 0 62px 0 0
      position: relative
    p
      margin: 0 0 20px 0
      letter-spacing: 0.8px
      line-height: 24px

    .section_5-btn
      position: absolute
      bottom: 0
    .h4
      font-size: 22px
      margin-bottom: 30px
      text-transform: uppercase
      line-height: 36px
      letter-spacing: 1.1px
      font-family: "roboto-example", bold
  .section_5-image
    width: 51%
    height: 100%
    img
      object-fit: cover
      width: 100%

      vertical-align: middle
      box-shadow: 9px 10px 32px -9px rgba(0,0,0,0.75)
  .reverse
    flex-direction: row-reverse
    .section_5-text
      justify-content: flex-start
      .wrap
        padding: 0 0 0 62px

.section_6
  .map
    height: 600px
    width: 100%
    background-color: #fff

.section_7
  padding: 96px 0 125px 0
  position: relative
  &-flex
    display: flex
    flex-direction: row
    justify-content: space-between
  &-item
    width: 33%
    margin-right: 20px
    &:last-child
      margin-right: 0
    h5
      font-size: 18px
      text-transform: uppercase
      letter-spacing: 0.9px
      font-family: "roboto-example", bold
      margin-bottom: 10px
    p
      margin: 0 0 30px 0
    img
      width: 100%
      height: 300px
      object-fit: cover
      margin-bottom: 20px
    .btn-relative
      position: relative
      top: 0
      right: 0


  .detail
    top: 120px
    right: 15px

.footer
  background-color: #303030
  padding: 49px 0
  font-family: "RobotoLight"
  color: $mnu-text
  a
    text-decoration: none
    color: $mnu-text
  &-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

    img
      width: 236px
      height: 107px
    p
      margin: 0
    .mob
      a
        display: inline-block
        margin-right: 10px

        &:last-child
          margin-right: 0
  .mnu
    text-transform: uppercase
    font-size: 18px
    color: $mnu-text
    margin: 0
    li
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    a
      &:hover
        border-bottom: 1px solid $accent
        color: $mnu-text
      &:active
        border-bottom: 1px solid $accent
        color: $mnu-text

  .contacts
    font-size: 14px
    a
      font-size: 14px
  .footer-btn
    margin-top: 10px

.section_products
  padding: 99px 0
  .h3
    text-align: left
    &:after
      bottom: -1px
    span
      line-height: 1.2
      padding: 10px 15px 10px 19px
  .block-text
    padding: 40px 0 0 43px
    p
      margin: 0

.section_slider
  .box
    display: flex
    flex-direction: row
    justify-content: space-between
    .products-mnu
      width: 30%
      display: flex
      flex-direction: column
      align-items: stretch
      li
        background-color: #303030
        flex-grow: 1
        position: relative
        text-align: left
        vertical-align: middle
        line-height: 147px
        text-transform: uppercase
        font-weight: 700
        font-size: 22px
        padding-left: 21.4vw
        a
          font-size: 22px
      .activated
        background-color: $accent
        &:before
          content: ''
          position: absolute
          right: -35px
          top: 0
          width: 0
          height: 0
          border-top: 85px solid transparent
          border-left: 35px solid $accent
          border-bottom: 85px solid transparent
          transition: all .3s ease
.products-slider
  width: 70%
  .activated
    display: block
  li
    padding: 151px 151px 0 151px
    display: none
    background-position: center
    -webkit-background-size: cover
    background-size: cover
    height: 100%

    .description-text
      width: 100%
      max-width: 546px
      padding: 0
    h4
      text-transform: uppercase
      font-family: roboto-example, bold
      font-size: 22px

  .products-carousel
    width: 900px
    margin-top: 86px
    margin-bottom: -86px
    margin-left: -100px
    .item
      text-align: center
      display: inline-block
      border: 5px solid transparent
      position: relative
      overflow: hidden
      transition: all .3s ease
      height: 265px
      width: 265px
      &:hover
        border: 5px solid $accent
        transition: all .3s ease
        .more-detail
          display: block
      .bg-h5
        padding: 5px 40px
        background-color: #303030
        height: 70px
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        h5
          margin: 0
          font-family: roboto-example
          text-transform: uppercase
          font-weight: bold
          font-size: 18px
      .more-detail
        position: absolute
        padding: 5px 10px
        background-color: rgba(48, 48, 48, 0.76)
        bottom: 10px
        right: 10px
        display: none
        color: #fff
    .owl-carousel
      display: flex
      flex-direction: column-reverse
      .owl-nav
        text-align: right
        align-self: flex-end
        padding-bottom: 10px
        .owl-prev
          width: 23px
          height: 41px
          background-image: url(../img/left.png)
          -webkit-background-size: cover
          background-size: cover
          background-position: top center
          vertical-align: middle
          margin-right: 49px
        .owl-next
          width: 23px
          height: 40px
          background-image: url(../img/right.png)
          -webkit-background-size: cover
          background-size: cover
          background-position: top center
          vertical-align: middle

.section_form
  padding: 100px 0
  .container
    align-items: flex-start
    flex-wrap: wrap
  .wrap-form-label
    margin-bottom: 40px
    width: 100%
    h4
      font-size: 22px
      text-transform: uppercase
      letter-spacing: 1.1px
      font-family: roboto-example
      font-weight: bold
      margin: 0
  .img-contact
    width: 50%
  .form-group
    width: 50%
    padding-right: 31px
    font-family: roboto-example
    .form-holder
      width: 100%
      margin-bottom: 49px
      input, textarea
        width: 100%
        height: 60px
        background-color: transparent
        border: 2px solid $accent
        padding: 0 0 0 10px
        color: #fefefe
        vertical-align: middle
        font-family: roboto-example
        &:last-child
          margin-bottom: 0
        &::placeholder
          color: #fefefe
          line-height: 3.5
      textarea
        height: 150px
        line-height: 3.5
    .checkbox
      position: relative
      input
        border: none
        width: 0
        height: 0
        position: absolute
        top: 0
        left: 0
        z-index: 0
        + label
          padding: 5px 0 0 40px
          position: relative
          cursor: pointer
          font-size: 15px
          line-height: 2.2
          color: #fefefe
          -webkit-transition: color .25s ease
          -o-transition: color .25s ease
          transition: color .25s ease
          //&:hover
          //  color: $accent
          //  -webkit-transition: color .25s ease
          //  -o-transition: color .25s ease
          //  transition: color .25s ease
          &:before
            content: ''
            position: absolute
            top: 3px
            left: 0
            border: solid 2px $accent
            -webkit-border-radius: 3px
            border-radius: 3px
            width: 20px
            height: 20px
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
          &:after
            width: 16px
            height: 16px
            content: ''
            position: absolute
            top: 7px
            left: 4px
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
            opacity: 0
            background-color: $accent
        &:checked + label
          color: $accent
          -webkit-transition: all 0.35s
          -o-transition: all 0.35s
          transition: all 0.35s
          &:after
            opacity: 1
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
          &:before
            border: solid 2px $accent
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
  .wrap-btn-checkbox
    margin-top: 29px
  .error
    input
      border: 2px solid red!important


.form-wrap-prod
  .section_form
    padding: 29px 20px
.section_item-product
  padding: 99px 0 0 0

  .wrap-text
    text-align: left
    margin-bottom: 50px
  .item-products-flex
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    margin-bottom: 29px
    .wrap-text-product
      width: 100%
      p
        margin: 0
        line-height: 24px
        letter-spacing: .8px
        img
          float: left
          padding: 0 23px 23px 0
  .wrap-list-product
    .list-h3
      border-bottom: 2px solid $accent
      letter-spacing: 1.5px
      font-size: 30px
      color: #fefefe
      display: inline-block
      line-height: 1.3
    ul
      li
        &:before
          content:  "-"
          position: relative
          left: -5px
.section_news
  padding: 100px 0
  .row-news
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 101px
    .news-text
      max-width: 500px
      padding-right: 30px
      .h4
        font-size: 22px
        margin-bottom: 30px
        text-transform: uppercase
        font-family: roboto-example, bold
        line-height: 36px
        letter-spacing: 1.1px
      p
        margin: 0 0 20px 0
        line-height: 24px
        letter-spacing: 0.8px
    .news-img
      width: 53%
      img
        object-fit: cover
        height: 450px
        box-shadow: 9px 10px 32px -9px rgba(0,0,0,.75)
    .news-btn
      margin-top: 38px
  .row-news_reverse
    flex-direction: row-reverse
    .news-text
      padding: 0 0 0 30px


.section_one-article
  padding: 100px 0
  .wrap-h2
    text-align: center
    padding: 0 118px
    .h2
      font-family: "Playfair-Regular"
      font-size: 48px
      text-transform: uppercase
      letter-spacing: 2.4px
      color: #fefefe
  img
    margin-top: 48px
  p
    padding: 0
    margin: 0
    color: #fefefe
    letter-spacing: .7px
    line-height: 1.6
  .wrap-h3-article
    margin: 51px 0 39px 0
    .h3-yellow
      color: $accent
      font-size: 36px
      font-family: roboto-example, bold
      letter-spacing: 1.8px
      text-transform: uppercase
      margin: 0
  .block-list
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    margin: 47px 0 51px 0
    img
      margin: 0
    .left-list
      padding-left: 51px
      .h4-yellow
        color: $accent
        font-size: 24px
        font-weight: 600
        text-transform: uppercase
        line-height: 1
        margin-bottom: 20px
      ul
        padding-left: 20px
        margin: 20px 0 0 0
        li
          list-style-image: url("../img/elipse-list.png")
          margin-bottom: 20px
          &:last-child
            margin-bottom: 0
          p
            line-height: 1.3
  .paragraph
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0

.section_leisure
  padding: 100px 0

.section_contacts
  .contacts-head
    padding: 100px 0
    .wrap-text
      margin-bottom: 43px
      .h3
        min-width: 100%
        font-family: roboto-example
        font-weight: 600
        letter-spacing: 4px
        font-size: 40px
        line-height: 1.2
        &:after
          left: 56px
        &:before
          right: 57px
    .top-text_contacts
      color: #fefefe
      letter-spacing: .8px
      text-align: center
      padding: 0 75px
  .contacts-box_tab
    background-color: #303030
    padding: 100px 0
    .contacts-box_flex
      display: flex
      flex-direction: row
      .left-tabs
        width: 307px
        .contacts-wrap_btn
          text-align: center
          .contacts-btn
            margin: 365px 0 0 0
        .wrap-text
          margin-bottom: 50px
          .h3
            text-align: left
            max-width: 328px
            letter-spacing: 4px
            line-height: 1.2
            &:before
              bottom: -2px
              top: auto
            &:after
              top: -2px
            span
              background-color: #303030
        .contacts-tabs
          text-align: right
          text-transform: uppercase
          li
            line-height: 1
            margin-bottom: 30px
            &:last-child
              margin-bottom: 0
            a
              font-size: 18px
              &:hover
                border-bottom: 1px solid $accent
      .box
        padding-left: 28px
      .contacts-city
        font-size: 30px
        text-transform: uppercase
        letter-spacing: 3px
        font-weight: 500
        margin: 0
        padding: 0
        line-height: 1
      .box-content
        display: flex
        flex-direction: row
        padding-top: 20px
        justify-content: center
        flex-wrap: wrap
        .box-content_item
          text-align: center
          max-width: 262px
          width: calc(33.3% - 26px)
          min-width: 171px
          margin: 0 13px 40px
          .contacts-descr
            text-align: center
            .contacts-position
              font-size: 15px
              color: $accent
              text-transform: uppercase
              letter-spacing: .75px
              font-family: roboto-example
              font-weight: bold
            .contacts-text_all
              font-family: roboto-example
              font-weight: bold
              letter-spacing: .8px
              color: #fefefe
              text-decoration: none
.contacts-box_form
  padding: 100px 0
  .container-flex
    align-items: flex-start
  .contacts-maps
    width: 50%
    text-align: left
    padding-right: 32px
    #map
      width: 100%
      height: 390px
      margin-top: 43px
      .gm-style-mtc, .gm-svpc, .gm-style-cc
        display: none
      .gm-fullscreen-control
        width: 25px!important
        height: 25px!important
        img
          width: 14px!important
          height: 14px !important
          margin: 6px!important
      .gm-bundled-control
        right: 22px!important
      .gmnoprint > div
        width: 25px!important
        height: 55px!important
        top: 102px!important
        .gm-control-active
          width: 25px!important
          height: 25px!important
          img
            height: 18px!important
            width: 13px!important
            margin: 7px 4px 9px!important
          + div
            display: none
    p
      margin: 0 0 16px 0
    a
      display: block
      color: #fefefe
      text-decoration: none
      margin: 0 0 16px 0
      &:last-child
        margin-bottom: 59px

  .form-all
    width: 50%
  .wrap-form-label
    margin-bottom: 40px
    width: 100%
    h4
      font-size: 22px
      text-transform: uppercase
      letter-spacing: 1.1px
      font-family: roboto-example
      font-weight: bold
      margin: 0
  .form-group
    padding-right: 31px
    font-family: roboto-example
    .form-holder
      width: 100%
      margin-bottom: 36px
      input, textarea
        width: 100%
        height: 60px
        background-color: transparent
        border: 2px solid $accent
        padding: 0 0 0 10px
        color: #fefefe
        vertical-align: middle
        font-family: roboto-example
        &:last-child
          margin-bottom: 0
        &::placeholder
          color: #fefefe
          line-height: 3.5
      textarea
        height: 150px
        line-height: 3.5
    .checkbox
      position: relative
      input
        border: none
        width: 0
        height: 0
        position: absolute
        top: 0
        left: 0
        z-index: 0
        + label
          padding: 5px 0 0 40px
          position: relative
          cursor: pointer
          font-size: 15px
          line-height: 2.2
          color: #fefefe
          -webkit-transition: color .25s ease
          -o-transition: color .25s ease
          transition: color .25s ease
          &:hover
            color: $accent
            -webkit-transition: color .25s ease
            -o-transition: color .25s ease
            transition: color .25s ease
          &:before
            content: ''
            position: absolute
            top: 3px
            left: 0
            border: solid 2px $accent
            -webkit-border-radius: 3px
            border-radius: 3px
            width: 20px
            height: 20px
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
          &:after
            width: 16px
            height: 16px
            content: ''
            position: absolute
            top: 7px
            left: 4px
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
            opacity: 0
            background-color: $accent
        &:checked + label
          color: $accent
          -webkit-transition: all 0.35s
          -o-transition: all 0.35s
          transition: all 0.35s
          &:after
            opacity: 1
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
          &:before
            border: solid 2px $accent
            -webkit-transition: all 0.35s
            -o-transition: all 0.35s
            transition: all 0.35s
  .wrap-btn-checkbox
    margin-top: 29px
  .error
    input
      border: 2px solid red!important
  .form-wrap-prod
    .section_form
      padding: 29px 20px

.news-pagination
  text-align: center
  color: #fefefe
  .pagination
    li
      display: inline-block
      vertical-align: middle
      line-height: 1
      transition: color .3s ease
      padding: 7px 12px 7px 12px
      &:hover
        a
          color: $accent
      a
        font-size: 36px

    .pagination-next, .pagination-prev
      a
        vertical-align: middle
        img
          width: 50px
          height: 50px
          padding: 13px 17px 12px 18px
          border: 2px solid $accent
          transition: background-color .3s ease
          display: inline-block
          vertical-align: middle
          &:hover
            background-color: $accent

    .active
      background-color: $accent
      &:hover
        a
          color: #fefefe
    .disabled
      a
        color: rgba(97, 97, 97, 0.74)
      &:hover
        a
          color: rgba(97, 97, 97, 0.74)
.current
  color: #000
@import "media" // Always at the end
